@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;700;800&display=swap');

@media (max-width: 400px){
    #navBar {
        gap: 1rem;
    }
    #arrowDown {
        max-width: 4rem;
    }
}

@media (max-width: 900px){
    #aboutMePara1, #aboutMePara2 {
        font-size: 6vw
    }
    #htmlIcon,
    #cssIcon,
    #jsIcon,
    #reactIcon,
    #gitIcon,
    #webpackIcon,
    #jestIcon,
    #bashIcon {
        width: 12vw;
    }
    #icons {
        gap: 3rem;
    }

    #introductionContainer {
        flex-direction: column;
        align-items: center;
    }

    #introduction {
        align-items: center;
    }

    #lightbulbContainer {
        padding-top: 10rem;
        width: 30%;
    }


}

:root {
    --darker-text: rgb(105, 105, 105);
    --web-developer: rgb(126, 126, 255);
    --light-text: white;
    --javascript: rgb(219, 198, 5);
    --react: rgb(0, 140, 255);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}

.navBar {
    display: flex;
    padding: 1.25rem;
    justify-content: flex-end;
    gap: 3rem;
    box-shadow: 0 2px 3px -2px gray;
}

.navButton {
    font-weight: 700;
    font-size: 1.75rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--darker-text);
}

.navButton:hover {
    color: var(--web-developer);
}

.introductionContainer {
    display: flex;
    justify-content: space-evenly;
}

.introduction {
    display: flex;
    flex-direction: column;
    padding-top: 18rem;
}

.myName {
    font-weight: 800;
    font-size: 8vw;
    color: var(--darker-text);
    margin: 0;
    padding: 0;
    animation: fadeIn 1s;
    transition: all ease-in-out;
}

.frontEndDeveloper {
    font-weight: 700;
    font-size: 5vw;
    color: var(--web-developer);
    margin: 0;
    padding: 0;
    animation: fadeIn 2s;
    transition: all ease-in-out;
}

.tagLine {
    font-weight: 300;
    font-size: 3vw;
    color: var(--darker-text);
    margin: 0;
    padding: 0;
    animation: fadeIn 5s;
    transition: all ease-in-out;
}

.lightbulb {
    filter: invert(47%) sepia(34%) saturate(3394%) hue-rotate(218deg) brightness(105%) contrast(101%);
    transition: all ease-in-out 0.25s;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lightbulbContainer {
    width: 15%;
    padding-top: 18rem;
}

.arrowDownContainer {
    display: flex;
    justify-content: center;
    padding-top: 18rem;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.arrowDown {
    max-width: 6rem;
    filter: invert(45%) sepia(0%) saturate(518%) hue-rotate(144deg) brightness(89%) contrast(87%);
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

.arrowDown:hover {
    filter: invert(40%) sepia(78%) saturate(1019%) hue-rotate(215deg) brightness(109%) contrast(101%);
    transform: scale(1.2);
}

/* about section */

@keyframes bounceText {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-0.5vh); }
    100% { transform: translateY(0); }
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    padding-top: 5%;
    padding-bottom: 15%;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.aboutMePara1 {
    font-size: 4vw;
    font-weight: 700;
    color: var(--darker-text);
}

.aboutMePara2 {
    text-align: center;
    font-size: 4vw;
    font-weight: 300;
    color: var(--darker-text);
}

.javascript {
    display: inline-block;
    color: var(--web-developer);
    transition: all ease-in-out 0.25s;
    animation-name: bounceText;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.react {
    display: inline-block;
    color: var(--web-developer);
    transition: all ease-in-out 0.25s;
    animation-name: bounceText;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* tech stack */

#techStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darker-text);
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.techStackTitle {
    color: var(--light-text);
    font-weight: 800;
    font-size: 4vw;
    padding-bottom: 4rem;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6rem;
}

.icon {
    width: 8vw;
    transition: all ease-in-out 0.25s;
}

.icon:hover {
    transform: scale(1.1);
}

/* projects */

.projectsTitle {
    color: var(--darker-text);
    font-size: 4vw;
    text-align: center;
    padding-top: 6rem;
}